<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="digimantra.veedaters">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:name=".Dashboard.VeeDatersApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace"
        tools:replace="android:icon">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name=".LoginSection.LoginDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Dashboard.Dashboard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard.Fragment.FeedBack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard.Fragment.TermCondition"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Dashboard.Fragment.MessageNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Dashboard.VideoCapture" />
        <activity
            android:name=".Dashboard.FavoritesActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Dashboard.ParticulerUserData"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".Dashboard.ViewImages" />

        <service android:name=".FCM.MyMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Dashboard.PlanListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard.PaymentInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <service android:name=".FCM.TokenServices" />

        <activity
            android:name=".LoginSection.CompleteProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginSection.ChooseGenderActivity" />
        <activity android:name=".Dashboard.DataPicker" />
        <activity android:name=".Dashboard.PlayerActivity" />

        <receiver
            android:name=".network.NetworkChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Dashboard.MapViewActivity" />

        <receiver
            android:name=".lock.MyDevicePolicyReceiver"
            android:description="@string/device_admin_description"
            android:label="@string/device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_EXPIRING" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Dashboard.PasscodeActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Dashboard.SetPasscode"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard.ConfirmPasscode"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.FingurePrint"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/fingure" />
    </application>

</manifest>